@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
@import "tailwindcss";

@theme {
  --background-image-nike: url("../src/assets/bg.png");
  --font-sans: "Poppins", sans-serif;
}
